<% provide(:title, 'User List') %>

<div class="container-fluid">
	<div class="pt-3 float-left">
		<h2 class="title">All:</h2>
	</div>
	<%= render 'shared/buttom_links' %>		
</div>
<div class="clearfix"></div>
<div class="user-list-main">
	<div class="flex-display list-all">
			<%= render'shared/current', object: @list %>	
	</div>

	<div class="flex-display list-home">
		<%= render'shared/current', object: @list_home %>	
	</div>

	<div class="flex-display list-work">
		<%= render'shared/current', object: @list_work %>	
	</div>
</div>


<%= link_to '<i class="far fa-plus-square"></i>'.html_safe, new_user_list_path(@user.id), id: 'add-button' %></p>

