<% object.each do |item| %>
	<div class="div-all">
	<h3><%= item.title.truncate(20) %></h3>
	<h5><%= item.text.truncate(20) %></h5>
	<p>Date for: <%=time_tag item.date_due %></p>
	<p>created: <%= time_ago_in_words(item.created_at)  %> ago</p>	
	<p><%= link_to item.purpose, purpose_user_list_path(@user, item.id), id: "purpose" %></p>
	<p><%= link_to 'view', user_list_path(@user, item.id) %></p>
	<%= link_to '<i class="fas fa-edit"></i>'.html_safe,   edit_user_list_path(@user, item.id)  %>
	<%= link_to '<i id="delete-icon"class="fas fa-times-circle"></i>'.html_safe, user_list_path(@user, item.id), method: :delete, data: { confirm: 'Are you sure?'} %>
	</div>	
<% end %>



