  <header>
  <nav class="h-100 navbar navbar-expand-lg navbar-light bg-light pl-5">
    <% if logged_in? %>
      <%= link_to "ListApp", current_user, class: "navbar-brand" %>
    <% else %>  
      <%= link_to "ListApp", root_path, class: "navbar-brand" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-5">
       <% if logged_in? %>
        <li><%= link_to "Your Lists", current_user, class: "nav-link" %></li>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="  false">
          Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item"%>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", logout_path, method: :delete ,class: "dropdown-item"%>
          </div>
        </li>
       <% else %>
        <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link"%></li> 
       <% end %>
     </ul>
   </div>
  </nav>
</header>